/* :root {
  --vp-layout-max-width: 1920px;
} */

.VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
}

.custom-block.tip a,
.custom-block.tip a:hover {
  color: inherit;
}

.custom-block.tip {
  background-color: #3e65ff;
  color: #fff;
}

.dark .custom-block.tip {
  background-color: #3e65ff;
  color: #fff;
}

.vp-doc h3 {
  border-top: 1px dashed var(--vp-c-divider);
  padding-top: 24px;
}

.vp-doc h2 + h3 {
  border-top: 0;
  padding-top: 0;
}
